ALTER TABLE withdrawals ADD COLUMN IF NOT EXISTS commission_amount DECIMAL(19, 2); ALTER TABLE withdrawals ADD COLUMN IF NOT EXISTS created_at TIMESTAMP; ALTER TABLE withdrawals ADD COLUMN IF NOT EXISTS updated_at TIMESTAMP; ALTER TABLE withdrawals ADD COLUMN IF NOT EXISTS payout_amount DECIMAL(19, 2);
